.main-nav {
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links {
    text-decoration: none;
    color: #db8993;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown-content {
    position: absolute;
    top: 300%; /* Ajusta para que aparezca más abajo del enlace */
    left: -200%; /* Ajusta para que aparezca más a la izquierda */
    background: linear-gradient(to right, #db8993, #f0b5b9); 
    padding: 20px 30px;
    min-width: 700px;
    color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none; /* Desactiva la interacción inicialmente */
    visibility: hidden;
    
    display: flex;
    justify-content: space-between;
}

/* Cuando la clase visible está presente, el menú aparece */
.nav-dropdown-content.visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.nav-dropdown-column {
    width: 33%; 
    display: flex;
    flex-direction: column;
}

.nav-dropdown-title {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.nav-dropdown-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px; 
    font-size: 16px;
    border-bottom: 1px solid #fff;
}

.nav-dropdown-biofemme-link {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}

.nav-dropdown-biofemme-link:hover {
    text-decoration: underline;
}
