
body, html {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100%;
}


.slider-caption {
    text-align: center;
    margin: 20px 0; 
    color: #b3b3b3; 
}

.slider-caption h2 {
    font-size: 40px; 
    font-weight: 400;
    margin-bottom: 30px;
    color: #b3b3b3; 
}

.slider-caption p {
    font-size: 18px;
    color: #b3b3b3; 
}

@media (min-width: 640px) and (max-width: 992px) {

    .slider-caption h2 {
        font-size: 30px; 
        margin-bottom: 2px;
        padding: 3px; 
    }
}
/* Ajuste responsive para pantallas móviles */
@media (max-width: 640px) {

    .slider-caption h2 {
        font-size: 20px; 
        padding: 10px;
    }

    .slider-caption p {
        font-size: 14px;
        padding: 10px;
    }
}  

